POSTGRES_DB=power_asset_intelligence
POSTGRES_USER=power_asset
POSTGRES_PASSWORD=power_asset
POSTGRES_PORT=5432

APP_PORT=8080
SPRING_PROFILES_ACTIVE=docker
LOGGING_LEVEL_ROOT=INFO

ML_SERVICE_PORT=8000

KAFKA_EXTERNAL_HOST=localhost
KAFKA_EXTERNAL_PORT=29092
KAFKA_TELEMETRY_RAW_TOPIC=telemetry.raw.v1
KAFKA_TELEMETRY_DLT_TOPIC=telemetry.raw.v1.dlt

PROMETHEUS_PORT=9090
LOKI_PORT=3100
GRAFANA_PORT=3000
GRAFANA_USER=admin
GRAFANA_PASSWORD=admin
